.current-game{
    &-percentage-container{
        text-align:center;
        color:white;
    }
    &-percentage{
        margin-bottom: 100px;
        span{
            font-weight:900;
        }
        .winning{
            span{
                color:green;
            }
            .current-game-percentage-circle{
                box-shadow: 0px 0px 30px 0px green;
            }
        }
        .losing{
            span{
                color:red;
            }
            .current-game-percentage-circle{
                box-shadow: 0px 0px 30px 0px red;
            }
        }
        &-circle{
            background-color: $transparent-black-5;
            border-radius:100%;
            width: 100px;
            height: 100px;
            margin: 10px auto;
            @include border-radius(100%);
            border: 5px solid $transparent-white-5;
            h1{
                line-height:50px;
            }
        }
    }
    &-summoner{
        &-card{
            background-color: $transparent-black-5;
            position:relative;
            margin-bottom: 20px;
            @include border-radius(10px);
            overflow: hidden;
            padding-top:10px;
            border: 1px solid $transparent-white-3;
        }
        
        &-champion{
            background-image:image-url('mastery/champion-portrait-150px.png');
            width: 100%;
            max-width: image-width('mastery/champion-portrait-150px.png');
            height: image-height('mastery/champion-portrait-150px.png');
            margin: auto;
            position: relative;
            background-size: contain;
            background-repeat: no-repeat;
            &-image{
                border-radius: 100%;
                overflow: hidden;
                position: absolute;
                width: 108px;
                height: 108px;
                top: 20px;
                left: 20px;
                img{
                    width:100%;
                 }   
            }
            
            &-mastery{
                background-image:image-url('mastery/mastery-1.png');
                width:image-width('mastery/mastery-1.png');
                height:image-height('mastery/mastery-1.png');
                position:absolute;
                bottom:0;
                left: 20px;
            }
        }
        &-score{
            padding: 0 10px;
            &-mastery, &-total, &-level{
               border-bottom:1px solid $transparent-white-3;
            }
            &-total{
                
            }
            &-level{
                
            }
        }
        
        &-name{
            height: 30px;
            background: $transparent-black-5;
        }
        &-most-played{
            padding: 20px;
            &-champion{
                border-radius:100%;
                overflow:hidden;
                border: 1px solid white;
                margin:-10px;
                img{
                    width:100%;
                }
            }
        }
    }
}


@for $i from 0 through 6 {
    .current-game-summoner-champion-mastery-#{$i} {
        background-image:image-url('mastery/mastery-#{$i}.png');
        width:image-width('mastery/mastery-#{$i}.png');
        height:image-height('mastery/mastery-#{$i}.png');
        position:absolute;
        bottom:0;
        left: 20px;
    }
};


.biggest-threat, .weakest-link{
    text-transform: uppercase;
    border:{
        top:1px solid $transparent-white-3;
        bottom: 1px solid $transparent-white-3;
    };
}
.top-team{
    .biggest-threat, .weakest-link{
        margin-top: -30px;
        margin-bottom: 7px;
    }
}
.bottom-team{
    margin-bottom: 20px;
}