html, body{
  min-height: 100%;
}
body{
  background: image-url('lol-wallpaper.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.page-wrap{
    min-height: 100%;
    //margin-bottom: -100px; 
    &:after {
      content: "";
      display: block;
  }
}

*{
  font-family: 'Lato', sans-serif;
}