$brand-color: #c0504e;
$brand-secondary-color: #161e32;



$transparent-white-1: rgba(255,255,255,.1);
$transparent-white-2: rgba(255,255,255,.2);
$transparent-white-3: rgba(255,255,255,.3);
$transparent-white-4: rgba(255,255,255,.4);
$transparent-white-5: rgba(255,255,255,.5);
$transparent-white-6: rgba(255,255,255,.6);
$transparent-white-7: rgba(255,255,255,.7);
$transparent-white-8: rgba(255,255,255,.8);
$transparent-white-9: rgba(255,255,255,.9);


$transparent-black-1: rgba(0,0,0,.1);
$transparent-black-2: rgba(0,0,0,.2);
$transparent-black-3: rgba(0,0,0,.3);
$transparent-black-4: rgba(0,0,0,.4);
$transparent-black-5: rgba(0,0,0,.5);
$transparent-black-6: rgba(0,0,0,.6);
$transparent-black-7: rgba(0,0,0,.7);
$transparent-black-8: rgba(0,0,0,.8);
$transparent-black-9: rgba(0,0,0,.9);
