
<p>This is the search view.</p>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form action="submit" id="searchSummoner" class="search-summoner">
      <input type="text" value="type your summoner name"/>
    </form>
    <ul class="search-summoner-results">
      <li>username 1 <span class="search-summoner-results-server">EUW</span></li>
      <li>username 2 <span class="search-summoner-results-server">NA</span></li>
      <li>username 3 <span class="search-summoner-results-server">EWN</span></li>
      <li>username 4 <span class="search-summoner-results-server">EUW</span></li>
      <li>username 5 <span class="search-summoner-results-server">EUW</span></li>
      <li>username 6 <span class="search-summoner-results-server">EUW</span></li>
    </ul>
  </div>
</div>
